
.iiifimageblock {
  width:160px;
  float:left;
  border:solid 1px #DEDEDE;
  background:white;
  padding:3px;
  text-align:center;
  margin:0 4px 4px 0;
  font-size:0.85em;
  line-height:1.2em;
}
.iiifimage {
  cursor:pointer;
  max-height:180px;
}

#iiifsearchresults {
  padding:10px;
}
#iiifsearchresults h3 { clear:both; }

.iiifimage-controls { padding: 20px 20px 0px; }
.iiifimage-controls label { padding:0.5em 1em 0.5em 0; }

#manifestpreview { 
  padding:1em 2em;
  background:#CCC;
  border-radius:15px;

 }


/************* LIST ***************/
#mymanifests {
  margin:20px 20px 20px 0;
  }

#mymanifests ul {
  list-style-type: none;
} 
#mymanifests li {  
  padding:10px !important;
  overflow:auto;
}
#mymanifests li h3, #mymanifests li p {margin:0;padding:0} 
#mymanifests li img {float: left;margin: 0 15px 0 0;} 




